[submodule "Plugins/XD_AutoGenSequencer"]
	path = Plugins/XD_AutoGenSequencer
	url = http://scarfskiynas.tpddns.cn:10080/arpg_developer/plugins/xd_autogensequencer.git
[submodule "Plugins/XD_AutoGenSequencerEx"]
	path = Plugins/XD_AutoGenSequencerEx
	url = http://scarfskiynas.tpddns.cn:10080/arpg_developer/plugins/xd_autogensequencerex.git
